html, body{
    margin:0;
    padding:0;
    font-size:62.5%;
    width:100%;
    height:100%;
    font-family:sans-serif;
}

@font-face {
    font-family: 'franchise';
    src: url('../fonts/franchise-bold-webfont.woff');
}

@font-face {
    font-family: 'ciria';
    src: url('../fonts/ciria-bold.woff');
}

body{
    margin:0;
    padding:0;
    width:100%;
    height: 100%;
    text-align: center;
}
 
/* start about page */

header{
    margin:0;
    padding:0;
    width:100%;
    height: 10rem;
}

header nav{
    height: 100%;
    width:87rem;
    margin:0 auto;
    display:block;
}

header nav ul{
    list-style: none;
    padding:0;
    display: inline-block; 
    margin:0 auto;
    width:100%;
    height:100%;
}

.icon_div{
    display: inline-block;
    float:left;
    height: 14.2rem;
    width:19%;
    position: relative;
    top:1rem;
}
.nav_div{
    height: 100%;
    width:75%;
    display: inline-block;
    float: right;
    font-weight: 600;
    position:relative;
    top:-.5rem;
}

#about_div_navbar{
    position:relative;
    top:.4rem;
    left:-7rem;
    width:68%;
}

#icon{
    display:inline-block;
    float: left;
}

header nav ul li{
    display:inline-block;
    font-size:1.6rem;
}

header nav ul li:nth-child(1){
    width:13%;
    position: relative;
    top:-.3rem;
}
header nav ul li:nth-child(2){
    width:15%;
    position: relative;
    top:-.3rem;
}
header nav ul li:nth-child(3){
    width:20%;
    position: relative;
    top:-.3rem;
}
header nav ul li:nth-child(4){
    width:15%;
    position: relative;
    top:-.3rem;
}
header nav ul li:nth-child(5){
    width:13%;
    position: relative;
    top:-.3rem;
}
header nav ul li:nth-child(6){
    width:17%;
    position: relative;
    top:-.3rem;
}

header nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
    display: block;
    height:100%;
    width:100%;
    color:black;
}
header nav ul li a span{
    display: block;
    height:auto;
    width:100%;
    position: relative;
    top:1.7rem;
    
}
header nav ul li span:hover{
    color:#7A1501;
}
.vertical_align{
    position: relative;
    top:1.3rem;
    
}
.active{
    color:#7A1501;
}

main{
    display: block;
    margin:0 auto;
    padding:0;
    width:100%;
    height: auto;
}
.about_image{
    width:auto;
    float:left;
    position:relative;
    top:1px;
}

#main_div{
    display:inline-block;
    width:90rem;
    height:15rem;
    
}

main div div:nth-child(2){
    font-size: 2.4rem;
    width:40rem;
    height:8rem;
    margin:0 auto;
    display:inline-block;
    float:right;
    position:relative;
    top:7rem;
}

main div p{
    margin:0;
    text-align: right;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    float:right;
    width:100%;
}

#about_learn{
    
    font-family: 'franchise';
    font-size: 3.5rem;
}

#l{
    display: inline-block;
    font-size: 4.1rem
}

#dropdown{
    display: none;
}

#bars{
    display: none;
}

.about_footer{
    background-color:#7A1501;
    display: block;
    margin:0 auto;
    text-align: center;
    color:white;
    height:auto;
}



.info{
    display: inline-block;
    height:90%;
    margin:0 auto;
    width:90rem;
    padding-bottom: 3rem;
}

.signup{
    position: relative;
    top:-2rem;
    font-size:1.7rem;
    text-align: center;
    height:4rem;
    
}
.signup a{
    background-color:#F9DA0C;
    right:1rem;
    text-decoration: none;
    color:#7A1501;
    display:inline-block;
    width:8rem;
    height: 100%;
    position:relative;
    left:5rem;
}

.signup a span{
    position:relative;
    top:.5rem;
    text-transform: uppercase;
}

.info_div{
    height:40%;
    width:50%;
    display: inline-block;
    float: left;
    margin:0 auto;
    margin-top:3rem;
}

p{
    margin:0;
    padding:0;
    text-align: left;
}
.about_info_div_p{
    font-size: 1.8rem;
    width:90%;
    display: inline-block;
    line-height: 2.5rem;
}

.subheadings{
    font-weight: 700;
    margin:10px 0 10px 0;
    font-family: franchise;
    font-size:3rem;
}
.line_height{
    padding: 1rem;
}

#last_line{
    display:block;
    margin:0 auto;
    width:100%;
    height:8rem;
    background-color:#F9DA0C;
}

#last_line a{
    text-decoration: none;
    color:#7A1501;
    font-size:1.5rem;
    text-transform: uppercase;
    display: inline-block;
    height:100%;
    width:100%;
    
}
#last_line a p{
    height: auto;
    width:auto;    
    display: inline-block;
    text-align: center;
    position:relative;
    top:3rem;
}


/* start of media query for about page */

@media only screen and (max-width:930px){
    
    header{
        height:auto;
    }

    header nav{
        height: auto;
        width:100%;
    } 
    
    .icon_div{
        height:20rem;
    }
    
.nav_div{
    height: 40rem;
    width:100%;
    font-weight: 600;
    position:relative;
    top:-9.8rem;
}
    
.nav_div li:nth-child(1){
    width:100%;
    height:calc(100%/7);
    border-top: 1px solid lightgrey;
}
.nav_div li:nth-child(2){
    width:100%;
    height:calc(100%/7)
}
.nav_div li:nth-child(3){
    width:100%;
    height:calc(100%/7)
}
.nav_div li:nth-child(4){
    width:100%;
    height:calc(100%/7)
}
.nav_div li:nth-child(5){
    width:100%;
    height:calc(100%/7)
}
.nav_div li:nth-child(6){
    width:100%;
    height:calc(100%/7);
}

header nav ul li a span{
    position: relative;
    top:2rem;
}
    
    .nav_div{
        display: none;
    }
    
    .display_none{
        display: none;
    }
    #bars_label_tag{
        display: block;
        margin:0 auto;
        height:3.1rem;
        width:4.2rem;
        float: right;
        position:relative;
        top:8.5rem;
        right:1.5rem;
        border-radius:4px;
        border: 1px solid white;
    }
    
    .bars_div{
        display: block;
        margin: 0 auto;
        position:relative;
        top:4px
        
    }
    
    .bar_line{
        width:2.2rem;
        border-bottom:2px solid #888888;
        margin-top:2px;
        text-align: center;
        display: inline-block;
    }
    
    #bars{
        display: inline-block;
        width:4.2rem;
        float: right;
        border:1px solid #ffffff;
        opacity:.9;
        margin:0 1.5rem 0 0;
        border-radius:5px;
        transform: translateY(8.5rem);
        height:3.2rem;
    }
    
    #bars_label_tag:hover{
        background-color:#dddddd;
        cursor:pointer;
    }
    input:checked + .nav_div{
        display: block;
    }
    
    #icon_image{
        position: relative;
        top:2rem;
        left:1rem;
        width:14rem;
    }
    
    #about_main{
        display: none;
}

    /* footer section. what, how, why, and details content */
    
    
footer{
    height:auto;
}

.info{
    height:90%;
    width:90%;
}

.signup{
    position: relative;
    top:-2rem;
    font-size:1.7rem;
    text-align: center;
    height:4rem;    
}
.signup a{
    width:10rem;
    height: 100%;
}

.signup a span{
    position:relative;
    top:1rem;
}

.info_div{
    height:auto;
    width:100%;
    margin-top:2rem;
}
    
.about_info_div_p{
    font-size: 1.7rem;
    line-height: 2rem;
}
    
    /* bottom of footer, last line */
   
#last_line{
    width:100%;
    height:7rem;
}

#last_line a{
    height:100%;
    width:100%;
    
}
 

}





#courses_main{
    height:auto;
    font-size:1.5rem;
    text-align: left;
    display:block;
    margin:0 auto;
    width:90rem;
    text-align: center;
}

#courses_main div p{
    text-align: left;
    text-transform: none;
    margin-bottom: 1rem;
}

#courses_main > div > p{
    padding:2rem 0 2rem 0;
    font-weight: 100;
}
#white_background{
    height:auto;
    width:100%;
    background-color:white;
    margin-bottom: 2rem;
}
.courses_table{
    background-color:white;
    height: auto;
    width:100%;
    display: inline-block;
    margin:0 auto;
    padding:0;
    font-size:1.4rem;
}
.courses_table p{
    line-height:1.9rem;
    text-align: center;
}
.courses_table p span{
    display: inline-block;
}
#courses_table1{
        border:none;
        background-color:#efefef;
        color:#000;
    }
    #courses_table2{
        background-color:#efefef;
        color:#000;
    }
.sold_out{
    font-size: 1.4rem;
}
.column1{
    height: auto;
    width:50%;
    display: inline-block;
    padding-top:1rem;
    
}

.column2{
    height:auto;
    width:7%;
    display: inline-block;
}
.column3{
    height:auto;
    width:9%;
    display: inline-block;
}
.column4{
    height:auto;
    width:8%;
    display: inline-block;
}
.column5{
    height:auto;
    width:10%;
    display: inline-block;
}
.column6{
    height:auto;
    width:10%;
    display: inline-block;
}
.courses_enroll{
    display: inline-block;
    height:6rem;
    margin:0 auto;
    position:relative;
    top:-3rem;
    right:1rem;    
    background-color:#F9DA0C;
}
.courses_enroll a{
    text-decoration: none;
    color:black;
    display: inline-block;
    height: 100%;
    width: 100%;
}
.courses_enroll a span{
    position: absolute;
    top:2rem;
    left:1.8rem;
}
.courses_underline{
    text-decoration: underline;
}
.courses_bold{
    font-weight: 600;
}
.courses_border_top{
    border-top:1px solid grey;
}
.courses_border_bottom{
    border-bottom:1px solid grey;
}
.courses_margin_bottom{
    margin-bottom: 3rem;
}
.courses_column_Monday{
    height:10rem;
    padding-top: 2rem;
}
.courses_padding_bottom1{
    padding-bottom: 2rem;
    font-weight: 100;
}
.courses_padding_bottom2{
    padding-bottom: .3rem;    
    font-weight: 100;
}
.courses_padding_bottom3{
    padding-bottom: 7rem;
    font-weight: 100;
}
.courses_position_top{
    position:relative;
    top:.6rem;
}

.courses_font_weight{
    font-weight: 100;
}

/* begin media query with max-width of 930px for courses page */

@media only screen and (max-width:930px){
    
    #courses_main{
        width:98%;
    }
    .courses_enroll{
        width:9rem
    }
    .column2, .column4, column5, column6{
        width:6.5rem;
    }
    .column3{
        width:8.2rem;
    }
    #courses_title{
        display: none;
    }
    
    #courses_subtitle1{
        font-size:1.5em;
        height:auto;
        line-height: 2.5rem;
    }
    #courses_subtitle2{
        font-size:1.5em;
        height:auto;
        line-height: 2.5rem;
    }
    #courses_subtitle3{
        font-size:1.5em;
        height:auto;
        line-height: 2.5rem;
    }
    #courses_subtitle4{
        font-size:1.5em;
        height:auto;
        line-height: 2.5rem;
    }
    #courses_subtitle5{
        font-size:1.5em;
        height:auto;
        line-height: 2.5rem;
    }
    
    .courses_padding_bottom1{
        padding-bottom: 0rem;
    }
    
    
    
}

/* had to add another media query for courses page for phone size because layout changed from columns to rows */

@media only screen and (max-width:806px){
    

    .column1, .column2, .column3, .column4, .column5, .column6{
        width:100%;
        display: inline-block;
        margin:0 auto;
        text-align: center;
    }
    .column3{
        padding:0;
    }
    .courses_column_Monday{
        height:auto;
    }
    .courses_padding_bottom2{
        padding:0;
    }
    .courses_padding_bottom3{
        padding-bottom: 1rem;
    }
    .courses_enroll{
        width:100%;
        display: inline-block;
        position: relative;
        top:-1rem;
        left:0rem;
        margin:0 auto;
    }
    .courses_enroll a span{
        font-weight: 600;
    }
    .enroll_anchor{
        display:block;
        margin:0 auto;
        text-align: center;
        width:100%;
    }
    .enroll_anchor span{
        display:inline-block;
        height:auto;
        width:100%;
    }
    
}

/* end courses page*/
