html, body{
    margin: 0;
    padding: 0;
}
body{
    width:100%;
    background-color: #7a1501;
}
.board{
    padding:30px;
    margin-left: 400px;
    background-color: white;
    width: 40%;
    text-align: center;
}
.bold{
    font-weight: bold;
    font-size: 2rem;
}
img{
    position: relative;
    top:25px;
    margin-left: 650px;
}
h5{
    border-bottom: 1px dotted gray;
}

@media only screen and (max-width:900px){
}

@media only screen and (max-width:480px){
    body{
        width: auto;
    }
    
}