html,body{
    margin: 0;
    padding: 0;
    
}
body{
    background-image: url(http://geekwiseacademy.com/img/owl-team.png);
    background-repeat: no-repeat;
    background-position: right top;
    margin: 0;
    padding: 0;
}
.none >a:hover{
    
   background-color:white;
}
.top{
    margin:0;
    padding: 0;
}
.yellow> a {
    color: #7a1501;
}

nav{
    height:5rem;
    width:100%;
    display:block;
}
ul{
    display:inline-block;
    list-style:none;
    line-height:1rem;
}
li{
    padding:1rem;
    display:inline;
    float:left;
    height:1rem;
    font-size:1rem;
    text-transform:uppercase;
}
.active{
    
    background-color: #f9da0c;

}
.active > a{
    color:#7a1501;
}

a{
    
    text-decoration: none;
    color:black;
}
a:hover{
    background-color: #f9da0c;
}
.fa{
    visibility: hidden;
}
h2{
    position: relative;
    top:90px;
    text-transform: uppercase;
    text-align: center;
}
.geekwise{
    height: 400px;
    position: relative;
    top:100px;
    text-align: center;
    background-color: #7a1501;
    color: white;
    margin: 0;
    padding: 20px;
}
span{
    text-align: center;
    position: relative;
    top:40px;
    opacity: .5;
    color: whitesmoke;
    font-weight: bold;
    float: left;
    text-transform: uppercase;
    width: calc(100%/4);
}
span:hover{
    opacity: 1;
}
p{ 
    text-align: center;
    font-size: 1.5rem;
    margin: 20px;
    
}

@media only screen and (max-width:900px){
    .fa{
        visibility: visible;
        color: gray;
    }
    .list{
    width: auto;
    height: auto;
    font-size: 28px;
    border: lightgrey solid .1rem;
    border-radius: .5rem;
    padding-left: 10px;
    padding-right: 10px;
    visibility: visible;
        
    }
    
    li{
        visibility: hidden;
    
}

@media only screen and (max-width:480px){
    body{ 
        background-image: none;
    }
    p{
        font-size: 15px;
        
    } 
    .geekwise{
        height: 500px;
    }
    span{

        width: 50%;
    }
    .active{
        position: relative;
        top:-160px;
        margin-left: 200px;
        visibility: visible;
    }
    .none{
        visibility: visible;
    }

    
}